VITE_FIREBASE_API_KEY=AIzaSyByFZVlJyyH6PYjlq8oOTZacVdJPPfIW1g
VITE_FIREBASE_AUTH_DOMAIN=predictiq-a8bff.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=predictiq-a8bff
VITE_FIREBASE_STORAGE_BUCKET=predictiq-a8bff.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=432860479419
VITE_FIREBASE_APP_ID=1:432860479419:web:857e10226535077c488e9e
VITE_API_BASE_URL=/api/v1